[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/slang"]
	path = deps/slang
	url = https://github.com/shader-slang/slang.git
[submodule "external"]
	path = external
	url = https://gitlab.com/0xafbf/reactor-external.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/tinyobjloader"]
	path = deps/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
